<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js?ver=1.3.2'></script>
			<script type='text/javascript'>

			    $(function(){

			        var iFrames = $('iframe');

			    	function iResize() {

			    		for (var i = 0, j = iFrames.length; i < j; i++) {
			    		  iFrames[i].style.height = iFrames[i].contentWindow.document.body.offsetHeight + 'px';}
			    	    }

			        	if ($.browser.safari || $.browser.opera) {

			        	   iFrames.load(function(){
			        	       setTimeout(iResize, 0);
			               });

			        	   for (var i = 0, j = iFrames.length; i < j; i++) {
			        			var iSource = iFrames[i].src;
			        			iFrames[i].src = '';
			        			iFrames[i].src = iSource;
			               }

			        	} else {
			        	   iFrames.load(function() {
			        	       this.style.height = this.contentWindow.document.body.offsetHeight + 'px';
			        	   });
			        	}

			        });

			</script>

					</head>
		<body bgcolor="#e6f5ff">
				<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:danilo.santana@live.com">email</a></li>
	        		<li><a href="https://github.com/imparaveis">github.io/imparaveis</a></li>
				</ul>
			</footer>
		</body>
	</html>
